@font-face {
  font-family: 'Lato-Bold';
  src: url('../fonts/Lato-Bold/Lato-Bold.eot?#iefix') format('embedded-opentype'),  url('../fonts/Lato-Bold/Lato-Bold.woff') format('woff'), url('../fonts/Lato-Bold/Lato-Bold.ttf')  format('truetype'), url('../fonts/Lato-Bold/Lato-Bold.svg#Lato-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lato-HeavyItalic';
  src: url('../fonts/Lato-HeavyItalic/Lato-HeavyItalic.eot?#iefix') format('embedded-opentype'),  url('../fonts/Lato-HeavyItalic/Lato-HeavyItalic.woff') format('woff'), url('../fonts/Lato-HeavyItalic/Lato-HeavyItalic.ttf')  format('truetype'), url('../fonts/Lato-HeavyItalic/Lato-HeavyItalic.svg#Lato-HeavyItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lato-Medium';
  src: url('../fonts/Lato-Medium/Lato-Medium.eot?#iefix') format('embedded-opentype'),  url('../fonts/Lato-Medium/Lato-Medium.woff') format('woff'), url('../fonts/Lato-Medium/Lato-Medium.ttf')  format('truetype'), url('../fonts/Lato-Medium/Lato-Medium.svg#Lato-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lato-Regular';
  src: url('../fonts/Lato-Regular/Lato-Regular.eot?#iefix') format('embedded-opentype'),  url('../fonts/Lato-Regular/Lato-Regular.woff') format('woff'), url('../fonts/Lato-Regular/Lato-Regular.ttf')  format('truetype'), url('../fonts/Lato-Regular/Lato-Regular.svg#Lato-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lato-Semibold';
  src: url('../fonts/Lato-Semibold/Lato-Semibold.eot?#iefix') format('embedded-opentype'),  url('../fonts/Lato-Semibold/Lato-Semibold.woff') format('woff'), url('../fonts/Lato-Semibold/Lato-Semibold.ttf')  format('truetype'), url('../fonts/Lato-Semibold/Lato-Semibold.svg#Lato-Semibold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lato-SemiboldItalic';
  src: url('../fonts/Lato-SemiboldItalic/Lato-SemiboldItalic.eot?#iefix') format('embedded-opentype'),  url('../fonts/Lato-SemiboldItalic/Lato-SemiboldItalic.woff') format('woff'), url('../fonts/Lato-SemiboldItalic/Lato-SemiboldItalic.ttf')  format('truetype'), url('../fonts/Lato-SemiboldItalic/Lato-SemiboldItalic.svg#Lato-SemiboldItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}

@charset "UTF-8";

@font-face {
  font-family: "newline-icons";
  src:url("../fonts/newline-icons/newline-icons.eot");
  src:url("../fonts/newline-icons/newline-icons.eot?#iefix") format("embedded-opentype"),
    url("../fonts/newline-icons/newline-icons.woff") format("woff"),
    url("../fonts/newline-icons/newline-icons.ttf") format("truetype"),
    url("../fonts/newline-icons/newline-icons.svg#newline-icons") format("svg");
  font-weight: normal;
  font-style: normal;

}

[class^="nl-icon-"]:before,
[class*=" nl-icon-"]:before {
  font-family: "newline-icons" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.nl-icon-unselected-c:before {
  content: "\62";
}
.nl-icon-shop:before {
  content: "\63";
}
.nl-icon-selected-c:before {
  content: "\64";
}
.nl-icon-school:before {
  content: "\65";
}
.nl-icon-right-arrow:before {
  content: "\66";
}
.nl-icon-menu:before {
  content: "\67";
}
.nl-icon-list:before {
  content: "\68";
}
.nl-icon-left-arrow:before {
  content: "\69";
}
.nl-icon-language:before {
  content: "\6a";
}

.nl-icon-close:before {
  content: "\61";
}
