.margin0{
  margin: 0 !important;
}

.padding0{
  padding: 0 !important;
}

.valign-wrapper {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.valign{
	display: block;
	margin: 0 auto;
}

.blur{
  -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  -o-filter: blur(10px);
  -ms-filter: blur(10px);
  filter: blur(10px);
}

.ligtblue:before{
  background: #195981;
}

.blue:before{
  background: #3d5a98;
}

.gray:before{
  background: #4a4a4a;
}

.red:before{
  background: #be1e2d;
}

.bradius-none{
  -webkit-border-radius: 0px !important;
  -moz-border-radius: 0px !important;
  border-radius: 0px !important;
}
.bradius-none:before{
  -webkit-border-radius: 0px !important;
  -moz-border-radius: 0px !important;
  border-radius: 0px !important;
}

.facebook-bgc{
  background-color: #3d5a98 !important;
}

.red-bgc{
  background-color: #be1e2d !important;
}

.container{
  padding-left: 0px
  padding-right: 0px
  margin: 0 auto
}

.dark-blue{
  color: #373eff !important;
}

.golden{
  color: #d3a65d !important;
}

.light-blue{
  color: #37b4ff !important;
}

.light-green{
  color: #78ee00 !important;
}

.red{
  color: #be1e2d !important;
}

.blue-green{
  color: #00c89b !important;
}

.purple{
  color: #d74ed0 !important;
}