/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	.nav>li>a{
		font-size: 14px !important;
	}
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	
	/*Disable Animation on Mobile Devices*/
	.animated {
		/*CSS transitions*/
		-o-transition-property: none !important;
		-moz-transition-property: none !important;
		-ms-transition-property: none !important;
		-webkit-transition-property: none !important;
		transition-property: none !important;
		/*CSS transforms*/
		-o-transform: none !important;
		-moz-transform: none !important;
		-ms-transform: none !important;
		-webkit-transform: none !important;
		transform: none !important;
		/*CSS animations*/
		-webkit-animation: none !important;
		-moz-animation: none !important;
		-o-animation: none !important;
		-ms-animation: none !important;
		animation: none !important;
	}
	
	.contact-form,
	.contact-text{
		margin: 0 auto;
		float: none;
	}
	
	.navbar-inverse .navbar-header .navbar-brand{
		width: auto;
		padding: 10px;
	}
	
	.container{
		width: 100%
	}
	

	#main-cards .main-card .card-title{
		-webkit-border-top-left-radius: 0px;
		-webkit-border-top-right-radius: 0px;
		-moz-border-radius-topleft: 0px;
		-moz-border-radius-topright: 0px;
		border-top-left-radius: 0px;
		border-top-right-radius: 0px;
	}
	
	#main-cards .main-card .card-title:before{
		-webkit-border-top-left-radius: 0px;
		-webkit-border-top-right-radius: 0px;
		-moz-border-radius-topleft: 0px;
		-moz-border-radius-topright: 0px;
		border-top-left-radius: 0px;
		border-top-right-radius: 0px;
	}
	
	#main-cards .main-card{
		-webkit-border-radius: 0px;
	    -moz-border-radius: 0px;
	    border-radius: 0px;
	}
	
	.navbar-inverse:before{
		height: 0px
	}
	#main-cards{
		margin-top: 0;
	}
	#main-cards .main-card{
	    height: auto;
	    box-shadow: none;
	}
	
	main header #header-carousel .owl-nav{
		font-size: 15px;
	}
	
	.navbar-collapse{
		background-color: rgba(0,0,0,0.8)
		position: absolute;
		top: 0
		left: 0
		right: 0
	}
	
	main header .owl-carousel .owl-dots{
		bottom: 10px
	}
	main header .owl-carousel .fill span{
		bottom: 55px
	}
	#main-cards .main-card .card-footer{
		margin-bottom: 25px;
	}
	#main-cards .main-card .card-footer{
		position: inherit;
		width: auto;
		padding: 15px 20px;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 3px;
	}
	
	#news{
		margin-bottom: 0px;
	}
	.panel.panel-default .panel-heading .panel-title{
		color: #fff !important;
		margin-top: -80px;
		display: block;
		text-transform: lowercase;
	}
	.panel .panel-heading .panel-left-btn{
		display: none;
	}
	.panel.panel-default .panel-heading{
		height: 0;
	}
	.panel.panel-default .panel-heading{
		border: none;
	}
	.panel .panel-body{
		padding: 0
	}
	#news{
		display: none;
	}
	.panel.panel-default{
		margin: 0;
	}
	.panel .panel-body img.pull-left,
	.panel .panel-body img.pull-right{
		margin: 0;
		width: 100%;
	}
	.news-content .news-desc{
		display: none;
	}
	.services_list > li{
		margin-left: 40px !important;
		margin-right: 40px !important;
		margin-bottom: 25px;
	}
	.partners-list li{
		width: 120px;
    	height: 120px;
	}
	.partners-list li img{
		width: 100px;
    	margin-top: -35px;
	}
	#contact-map{
		display: none;
	}
	#main-cards .main-card{
		margin-bottom: 0;
		text-align: center;
	}
	#main-cards .main-card .card-text{
		text-align left;
	}
	#map .card-title{
		position: absolute;
		top: -125px;
		width: 100%;
	}
	#map{
		margin-top: 144px;
	}
	#map .map-title{
		display: none;
	}
	#map .map-filter{
		right inherit
		width 100%
		top 0
		left 0
		border-radius 0
	}
	#map .map-filter{
		display: none;
	}
	.transparent .navbar-nav >li >a{
		font-size: 20px !important;
	}
	.map-filter-mobile{
		display: block;
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
	#lang{
		display: none !important;
	}
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}